---
import Layout from "../layouts/Layout.astro";
import "../assets/styles/index.css";
---

<Layout>
  <h1>Socials</h1>
  <p class="pt-5"></p>
  <p>
    f you're looking to reach out to me, please know that most of my social
    media profiles are active and I am always happy to receive direct messages.
    Whether it's on Twitter, Discord, LinkedIn, or any other platform, feel free
    to send me a message and I'll do my best to get back to you as soon as
    possible.
  </p>
  <ul class="pt-5">
    <li>
      Github: <a class="link" href="https://github.com/Numifox">Numifox</a>
    </li>
    <li>
      Discord: <a class="link" href="discord.com">Numifox#4424</a>
    </li>
    <li>
      Pronouns.page: <a class="link" href="https://en.pronouns.page/@numifox"
        >@numifox</a
      >
    </li>
    <li>
      Reddit: <a class="link" href="https://www.reddit.com/user/Numifox"
        >u/Numifox</a
      >
    </li>
    <li>
      Steam: <a
        class="link"
        href="https://steamcommunity.com/profiles/76561198122613472/">Numifox</a
      >
    </li>
  </ul>
</Layout>
