@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold pt-5 text-[#FE9ACE] underline decoration-[#8EA6FF];
  }

  ul {
    @apply list-disc list-inside;
  }

  h2 {
    @apply text-2xl font-bold pt-5 text-[#FE9ACE] underline decoration-[#8EA6FF];
  }
}

@layer components {
  .link {
    @apply underline decoration-[#8EA6FF];
  }
}

.gradient {
  background-image: linear-gradient(216deg,
      rgba(77, 77, 77, 0.05) 0%,
      rgba(77, 77, 77, 0.05) 25%,
      rgba(55, 65, 81, 0.65) 25%,
      rgba(55, 65, 81, 0.65) 38%,
      rgba(55, 65, 81, 0.65) 38%,
      rgba(55, 65, 81, 0.65) 75%,
      rgb(55, 65, 81) 75%,
      rgb(55, 65, 81) 100%),
    linear-gradient(44deg,
      rgb(55, 65, 81) 0%,
      rgb(55, 65, 81) 34%,
      rgb(55, 65, 81) 34%,
      rgb(55, 65, 81) 57%,
      rgba(25, 25, 25, 0.05) 57%,
      rgba(25, 25, 25, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 89%,
      rgba(135, 135, 135, 0.05) 100%),
    linear-gradient(241deg,
      rgb(55, 65, 81) 0%,
      rgb(55, 65, 81) 14%,
      rgba(209, 209, 209, 0.05) 14%,
      rgba(209, 209, 209, 0.05) 60%,
      rgba(245, 245, 245, 0.05) 60%,
      rgba(245, 245, 245, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 69%,
      rgba(164, 164, 164, 0.05) 100%),
    linear-gradient(249deg,
      rgba(248, 248, 248, 0.05) 0%,
      rgba(248, 248, 248, 0.05) 32%,
      rgb(55, 65, 81) 32%,
      rgb(55, 65, 81) 35%,
      rgba(202, 202, 202, 0.05) 35%,
      rgba(202, 202, 202, 0.05) 51%,
      rgba(181, 181, 181, 0.05) 51%,
      rgba(181, 181, 181, 0.05) 100%),
    linear-gradient(92deg, rgb(55, 65, 81), rgb(55, 65, 81));
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}